$font-stack: "futura-pt",sans-serif;
$navy: #0c2163;
$blue: #89d2ff;
$pink: #f42144;
$yellow: #ffd400;
$white: #fff;

/*general type choices*/
body {
  font-family: $font-stack;
  font-weight: 400;
  color: $navy;
  font-size: 20px;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36;
}

h2{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30;
  margin-bottom: 20px;
}

h3{
font-size: 27px;
}

/*container*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 767px) {
  .container {
    padding-right: 35px;
    padding-left: 35px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 930px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1090px;
  }
}

/*navigation*/
.menu {
  min-height: 55px;
  padding: 10px;
  border: 1px;
  background-color: $white;
}

.menu{
  #logo{
    height: 50px;
  }

  .about {
    text-align: center;
    color:$pink;
  }

  .work {
    text-align: center;
    color:$blue;
  }

  .blog {
    text-align: center;
    color:$yellow;
  }

  .menu-item {
    padding-top: 8px;
  }

  .menu-item > a {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }

  .menu-item > a:hover {
  color:$navy;
  }
}

#aboutsm, #worksm, #blogsm {
  font-size: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

/*footer*/
.footer {
  width: 200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;

}
.footer {
  img {
    width: 20px;
  }
}
/*index*/
#main-logo {
  width: 100%;
  margin-bottom: 20px;
}
/*about page*/
#meet{
  background-color: $pink;
  background-image: url('../img/katherine_boliek.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $navy;

  img {
    width: 100%;
  }

  p {
    font-size: 20px;
    font-weight: 700;
  }

  @media (max-width: 767px){
    .meet-text {
    padding-top: 200px;
    }
  }
  @media (min-width: 768px){
    .meet-text {
    padding-top: 100px;
    padding-bottom: 100px;
    }
  }
  @media (min-width: 992px) {
    .meet-text {
    padding-top: 150px;
    padding-bottom: 150px;
    }
  }
  @media (min-width: 1200px) {
    .meet-text {
    padding-top: 150px;
    padding-bottom: 150px;
    }
  }
}

#skills {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.designer {
  background-color: $white;
  color: $blue;
  padding: 20px 100px 20px 100px;
  flex: 1;
}

.designer > h2, .developer > h2 {
  text-align: center;
}

.developer {
  background-color: $blue;
  color: $white;
  padding: 20px 100px 20px 100px;
  flex: 1;
}

.design {
  background-color: $white;
  color: $blue;
  padding: 35px 35px 35px 35px;
}

.design > h2, .dev > h2 {
  text-align: center;
}

.dev {
  background-color: $blue;
  color: $white;
  padding: 35px 35px 35px 35px;
}

.experience {
  background-color: $yellow;
  color: $navy;
  padding-top: 20px;
  padding-bottom: 20px;

  .new-ex {
    margin-bottom: 15px;
  }

  .dates {
    text-transform: uppercase;
    font-size: 20px;
  }

  h2 {
    text-align: center;
  }
  .ex-comp {
    display: inline;
    font-weight: 700;
    font-size: 20px;
  }
  .ex-title {
    display: inline;
    font-weight: 300;
    font-style: italic;
  }
  .ex-descript {

  }
}

.contact {
  background-color: $white;
  color: $navy;
  padding-top: 20px;
}

.contact {
  h2 {
    text-align: center;
  }

  .email {
    text-align: center;
  }
  .phone {
    text-align: center;
  }
}

/*work page*/
#work-content {
  margin-top: 30px;
}

#port {

  img {
    width: 200px;
  }

  @media (max-width: 568px){
    img {
      width: 100%;
      padding-left: 100px;
      padding-right: 100px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (max-width: 480px){
    img {
      width: 100%;
      padding-left: 50px;
      padding-right: 50px;
      margin-left: auto;
      margin-right: auto;
    }
  }


  .mix{
	display: none;
  margin: 0 20px 40px 20px;
  }
}
 #filtering {

   p {
     font-weight: 400;
     cursor: pointer;
     color: $navy;
     padding-bottom: 0;
     margin-bottom: 5px;
     text-align: right;
     text-transform: uppercase;
   }

   @media(max-width: 767px){
     p {
       text-align: center;
       /*display: inline;
       margin: 10px;*/
     }
   }
 }

 @media (max-width: 991px){
  #filtering {
    margin-bottom: 35px;
  }
 }

/*portfolio pages*/
.port-piece {
  img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  a, a:hover {
    color:$navy;
    text-decoration: none;
  }
  #back{
    text-align: right;
    font-size: 20;
    text-transform: uppercase;
    padding-right: 50px;
    margin-top: 20px;
  }
  port-content {
    padding-left: 50px;
  }
}
