$font-stack: "futura-pt",sans-serif;
$navy: #0c2163;
$blue: #89d2ff;
$pink: #f42144;
$yellow: #ffd400;
$white: #fff;

/*general type choices*/
body {
  font-family: $font-stack;
  font-weight: 400;
  color: $navy;
  font-size: 17px;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30;
}

h2{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 28;
}

h3{

}

/*container*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 930px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1090px;
  }
}

/*navigation*/
.menu {
  min-height: 50px;
  padding: 10px;
  border: 1px;
  background-color: $white;
}

.menu{
  #logo{
    height: 50px;
  }

  #about {
    text-align: center;
    color:$pink;
  }

  #work {
    text-align: center;
    color:$blue;
  }

  #blog {
    text-align: center;
    color:$yellow;
  }

  .menu-item {
    padding-top: 8px;
  }

  .menu-item > a {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }

  .menu-item > a:hover {
  color:$navy;
  }
}

.footer {
  width: 200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;

}
.footer {
  img {
    width: 20px;
  }
}
/*index*/
#main-logo {
  width: 100%;
}
/*about page*/
#meet{
  background-color: $pink;
  color: $white;
  padding-top: 20px;
  padding-bottom: 20px;
}

#skills {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.designer {
  background-color: $white;
  color: $blue;
  padding: 20px 100px 20px 100px;
  flex: 1;
}

.designer > h2, .developer > h2 {
  text-align: center;
}

.developer {
  background-color: $blue;
  color: $white;
  padding: 20px 100px 20px 100px;
  flex: 1;
}

.design {
  background-color: $white;
  color: $blue;
  padding: 10px 50px 10px 50px;
}

.design > h2, .dev > h2 {
  text-align: center;
}

.dev {
  background-color: $blue;
  color: $white;
  padding: 10px 50px 10px 50px;
}

.experience {
  background-color: $yellow;
  color: $navy;
  padding-top: 20px;
  padding-bottom: 20px;

  h2 {
    text-align: center;
  }
  .ex-comp {
    display: inline;
    font-weight: 700;
    font-size: 20px;
  }
  .ex-title {
    display: inline;
    font-weight: 300;
    font-style: italic;
  }
  .ex-descript {

  }
}

.contact {
  background-color: $white;
  color: $navy;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact {
  h2 {
    text-align: center;
  }

  .email {
    text-align: center;
  }
  .phone {
    text-align: center;
  }
}

/*work page*/
#work-content {
  margin-top: 30px;
}

#port {
  padding-left: 50px;

  img {
    width: 230px;
  }
  .mix{
	display: none;
  margin: 0 20px 40px 20px;
  }
}
 #filtering {

   p {
     font-size: 16px;
     font-weight: 400;
     cursor: pointer;
     color: $navy;
     padding-bottom: 0;
     margin-bottom: 5px;
     text-align: right;
     text-transform: uppercase;
   }
 }
/*portfolio pages*/
.port-piece {
  img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  a, a:hover {
    color:$navy;
    text-decoration: none;
  }
  #back{
    text-align: right;
    font-size: 20;
    text-transform: uppercase;
    padding-right: 50px;
    margin-top: 20px;
  }
  port-content {
    padding-left: 50px;
  }
}
